<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='/static/styles/bulma/css/bulma.css'>
    <title></title>
</head>
<body>
<section class="hero is-info">
    <div class="hero-body">
        <p class="title">
            Youtube Playlist Grabber
        </p>
        <p class="subtitle">
            Paste any YouTube playlist link
        </p>
    </div>
</section>
{% block content %}
{% endblock %}
</body>
</html>