{% extends "base.html" %}
{% block content %}
    <section class="section">
        <div class="columns">
            <div class="column is-half">
                <article class="message is-danger">
                    <div class="message-header">
                        <p>Error</p>
                    </div>
                    <div class="message-body">
                        <div class="content">
                            <p>Your Input:</p>
                            <p><i>{{ query }}</i></p>
                            <p>ERROR: <i>{{ error_message }}</i></p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}